/* Set the size and font of the tab widget */
.tabGroupmenu {
    font: 10pt arial, verdana;
    width: 100%;
    height: auto;
	margin-bottom:30px;
}
 
/* Configure the radio buttons to hide off screen */
.tabGroupmenu > input[type="radio"] {
    position: absolute;
    left:-100px;
    top:-100px;
	
}
 
/* Configure labels to look like tabs */
.tabGroupmenu > input[type="radio"] + label {
    /* inline-block such that the label can be given dimensions */
    display: inline-block;
 
    /* A nice curved border around the tab */
    border: 1px solid #666666;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
     
    /* the bottom border is handled by the tab content div */
    border-bottom: 0;
 
    /* Padding around tab text */
    padding: 5px 10px;
 
    /* Set the background color to default gray (non-selected tab) */
    background-color:#ddd;
}
 
/* Focused tabs need to be highlighted as such */
.tabGroupmenu > input[type="radio"]:focus + label {
    border:1px solid #666666;
}
 
/* Checked tabs must be white with the bottom border removed */
.tabGroupmenu > input[type="radio"]:checked + label {
    background-color:white;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
 
/* The tab content must fill the widgets size and have a nice border */
.tabGroupmenu > div {
    display: none;
    border: 1px solid black;
    background-color: white;
    padding: 7px 10px;
    overflow: auto;
    box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 20px #444;
    -webkit-box-shadow: 0 0 20px #444;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
}
/* This matchs tabs displaying to thier associated radio inputs */
.tab_edit:checked ~ .tab_edit, .tab_article:checked ~ .tab_article, .tab3:checked ~ .tab3 {
    display: block;
}