/**********************************************************************************

	Project Name: Simple CSS ADMIN Theme
	Author : Eka Purnama Wijaya
	Version: 1.0.0
	

http://developer.yahoo.com/yui ---------- */
.progress { position:relative; width:400px; border: 1px solid #ddd;  padding: 1px; border-radius: 3px; }
.bar {background: #4d9116;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			); width:0%; height:20px; border-radius: 3px;  border: 1px solid #ddd;  }
.percent { position:relative; display:inline-block; top:3px; left:48%; }
#edit_table {
		float:right; 
		
		text-decoration:none;
	}
#edit_table a{
		color:white; 
	}
#edit_table a:hover{
		color:#ddd; 
	}

#table_list td{
				padding: 5px 5px;
			}
		
#table_detail_checkin th{
	padding: 5px 15px;
	text-align:left;
	font-weight:bold;
}

#table_detail_checkin  td:first-child, #table_detail_checkin th:first-child {
		width: 7em /* 48/12 */;
		padding: 5px 5px ;
		border: none;
		border: 1px solid #f8f9fa;
}
#table_detail_checkin  td:last-child, #table_detail_checkin th:last-child {
		width: 7em /* 48/12 */;
		padding: 5px 5px ;
		border: none;
		border: 1px solid #f8f9fa;
}
	
#table_checkin th{
	padding: 5px 15px;
	text-align:left;
	font-weight:bold;
}


#table_checkin  td:first-child, #table_checkin th:first-child {
		width: 7em /* 48/12 */;
		padding: 5px 5px ;
		border: none;
		border: 1px solid #f8f9fa;
}
#table_checkin  td:last-child, #table_checkin th:last-child {
		width: 7em /* 48/12 */;
		padding: 5px 5px ;
		border: none;
		border: 1px solid #f8f9fa;
}
	
#wrapper{
	width:300px;
	
}



.button{padding: 0px 0;font-size: 11px;  display: inline-block;
		  }
.button a {
		  display: inline-block;
		  text-transform:uppercase;
		  padding: 4px 12px;
		  margin-bottom: 0;
		  *margin-left: .3em;
		  font-size: 12px;
		  line-height: 18px;
		  color: #333333;
		  text-align: center;
		  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		  vertical-align: middle;
		  cursor: pointer;
		  background-color: #f5f5f5;
		  *background-color: #e6e6e6;
		  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		  background-repeat: repeat-x;
		  border: 1px solid #cccccc;
		  *border: 0;
		  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		  border-bottom-color: #b3b3b3;
		  -webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
				  border-radius: 4px;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		  *zoom: 1;
		  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		}

.button a:hover { color: #333333;
  background: #e6e6e6;
  }
  
  
.button strong {font-weight:bold;padding: 4px 5px; margin: 0 1px; border:1px solid #888888;}
.button{font-size:11px; padding: 6px 0 0 0;}

#add_new{padding: 0px 0;font-size: 11px; float:right; }
#add_new a {
		  display: inline-block;
		  *display: inline;
		  padding: 4px 12px;
		  margin-bottom: 0;
		  *margin-left: .3em;
		  font-size: 12px;
		  line-height: 18px;
		  color: #333333;
		  text-align: center;
		  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		  vertical-align: middle;
		  cursor: pointer;
		  background-color: #f5f5f5;
		  *background-color: #e6e6e6;
		  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		  background-repeat: repeat-x;
		  border: 1px solid #cccccc;
		  *border: 0;
		  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		  border-bottom-color: #b3b3b3;
		  -webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
				  border-radius: 4px;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		  *zoom: 1;
		  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		}

#add_new a:hover { color: #333333;
  background: #e6e6e6;
  }
  
  
#add_new strong {font-weight:bold;padding: 4px 5px; margin: 0 1px; border:1px solid #888888;}
#add_new{font-size:11px; padding: 6px 0 0 0;}


body{
font: normal 15px auto Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
background-color:#FFFFFF;
background-image:url(../images/bg-image.png);
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none; }
a:active {text-decoration:underline;}
#table1{
			border: 1px solid  #ddd;
			border-collapse: collapse;
			font: 12px Century Gothic;
				
			}
#table1 td{
			border: 1px solid #ddd;
			padding: 10px 10px;
			}


#table1 th{
		  font-size: 12px;
		  line-height: 30px;
		  color: #333333;
		  text-align: center;
		  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		  vertical-align: middle;
		  cursor: pointer;
		  background-color: #f5f5f5;
		  *background-color: #e6e6e6;
		  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		  background-repeat: repeat-x;
		  border: 1px solid #cccccc;
		  *border: 0;
		  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		  border-bottom-color: #b3b3b3;
		  -webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
				  border-radius: 4px;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		  *zoom: 1;
		  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			}
#icon img
			{
				display: inline;
				width: 25px;
				height: 25px;
			}
			

#go_toweb a{
				color: white;
				font-weight:bold;
				position:absolute;
				right: 0px;
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
				padding: 7px 7px;
				border-radius: 5px 5px;
				box-shadow:rgba(0,0,0,0.5) 0 0 6px;
				color: rgb(255, 255, 255);
				background: linear-gradient(to bottom, rgb(78, 78, 78) 0%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% transparent;
				border-bottom: 1px solid rgb(41, 41, 41);
		}
#go_toweb a:hover{
			    text-decoration: none;
    color: rgb(252, 253, 254);
    background: none repeat scroll 0% 0% rgb(41, 60, 67);
}
			
		}
#go_toweb:hover{
				background: #ddd;
				}
	
a.tip2 {
  position: relative;
  text-decoration: none;

}
a.tip2 span {display: none;}
a.tip2:hover span {
 position: absolute;
    margin:5px 0px 0px 5px;
    background-color: #BDE5F8;
    max-width:400px;
	width:100px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #00529B;
   font: 15px Century Gothic;	
    text-decoration: none;
	text-align:center;
    color: #000;
	top:-300%;
    display: block;     
   z-index:999;
  font-size: .86em;
}
a.tip2:hover span:after {
  
}


a#tip3 {
  position: relative;
  text-decoration: none;

}
a#tip3 span {display: none;}
a#tip3:hover span {
 position: absolute;
    margin:5px 0px 0px 5px;
    background-color: #BDE5F8;
    max-width:400px;
	width:100px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #00529B;
   font: 15px Century Gothic;	
    text-decoration: none;
	text-align:center;
    color: #000;
	top:-300%;
    display: block;     
   z-index:999;
  font-size: .86em;
}
a#tip3:hover span:after {
  
}
#waiting{
			background: #ffa734;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			padding: 5px 5px;
			border-radius: 5px 5px;
			color: white;
			width:100px;
		}
#approved{
			background: #0292ec;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			padding: 5px 5px;
			border-radius: 5px 5px;
			color: white;
			width:100px;
		}
		
#check_in{
			background: #ff6565;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			padding: 5px 5px;
			border-radius: 5px 5px;
			color: white;
			width:100px;
			font-weight:bold;
		}
	

#avail{
			background: #1fb4e5;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			font-weight:bold;
			padding: 5px 5px;
			border-radius: 5px 5px;
			color: white;
			width:100px;
		}
#booked{
			background: #00a500;
			font-weight:bold;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			padding: 5px 5px;
			border-radius: 5px 5px;
			color: white;
			width:100px;



		}
#not_avail{
			background: #f42c48;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			font-weight:bold;
			padding: 5px 5px;
			border-radius: 5px 5px;
			color: white;
			width:100px;
		}
	
		
#detail img {
				height:30px;
				width:30px;
				}

#publish a{
			
			background: #fa5b5b;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			padding: 3px 15px;
			border-radius: 5px 5px;
			color: white;
			font-size:12px;
			
			}
#unpublish a {
			
			background: #4d9116;
			 background-image: 
			-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
			padding: 3px 15px;
			border-radius: 5px 5px;
			color: white;
			font-size:12px;
			}
#upload_image{
				position:absolute;
				width: 500px;
				height: 200px; 
				border:0px solid;
				top:30%;
				left: 22%;
				padding:10px 10px;
				
			}
			#upload_image2{
				position:absolute;
				width: 500px;
				height: 200px; 
				border:0px solid;
				top:30%;
				left: 22%;
				padding:10px 10px;
				
				
			}	
.table_form{
				width:930px;
			}
.table_form td{
			padding :10px 10px;	
			border: 1px solid linear-gradient(to bottom, rgb(78, 78, 78) 0%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% ;
			background: #f7f5e3;
		}
#upload_image input[type="file"]
{
margin-top: -200px;
position:absolute;
				}
#edit_image{
				position:absolute;
				width: 500px;
				height: 200px; 
				border:1px solid;
				top:225px;
				left: 20px;
				padding:10px 10px;
				
			}
.record img {
			width: 250px;
  height: 170px;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
			padding-bottom:2px;
			}
.record{
		width:250px;
	height:180px;
  display: block;
  padding: 4px;
  line-height: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;


		}


#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}



form input[type="submit"]{
			text-transform:uppercase;
		 display: inline-block;
		  *display: inline;
		  padding: 4px 12px;
		  margin-bottom: 0;
		  *margin-left: .3em;
		  font-size: 12px;
		  line-height: 18px;
		  color: #333333;
		  text-align: center;
		  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		  vertical-align: middle;
		  cursor: pointer;
		  background-color: #f5f5f5;
		  *background-color: #e6e6e6;
		  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		  background-repeat: repeat-x;
		  border: 1px solid #cccccc;
		  *border: 0;
		  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		  border-bottom-color: #b3b3b3;
		  -webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
				  border-radius: 4px;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		  *zoom: 1;
		  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				}
#print, #cetak {
				float:right; 
				top:0px;"
				display: inline-block;
				height: 30px;
				width: 80px;
				font-weight:bold;
				/*TYPE*/
				color: white;
				font: 12px Century Gothic;
				text-decoration: none;
				text-align: center;
				text-transform: uppercase;
				margin-left:-7px;
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top, #0292ec 0%, #0292ec 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#0292ec)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #ffffff 0%,#0292ec 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #ffffff 0%,#0292ec 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #ffffff 0%,#0292ec 100%); /* IE10+ */
				background: linear-gradient(top, #ffffff 0%,#0292ec 100%); /* W3C */

}

#form_approve{
		font: 14px Century Gothic;

	}

form footer input[type=checkbox]{
	vertical-align:sub;
	padding-top:10px;
	font: 14px Century Gothic;
}
form  input[type=radio]{

	font: 14px Century Gothic;
}

h3 {
font-size: 18px;

}

/* Pagination */
.pagination{padding: 10px 0;font-size: 11px; 	border-top:2px solid #4D4D4D;  }
.pagination a {padding: 4px 5px; color: #333; margin: 0 1px; background:#efefef; border:1px solid #ddd; text-decoration: none;}
.pagination a:hover {background:#666; color: #fff; border:1px solid #333;}
.pagination strong {font-weight:bold;padding: 4px 5px; margin: 0 1px; border:1px solid #888888;}
.pagination-info{font-size:11px; padding: 6px 0 0 0;}
/* Form Style */

.form_wrapper{

	padding-top:70px;
	background:#fff;
	border:1px solid #ddd;
	margin:0 auto;
	width:350px;
	font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}
#format p {
			font: 12px Century Gothic;

		}
.form_wrapper h3{
	margin-top:-50px;
	padding-top:0px;
	background-color:#444;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-family: 'Economica', Arial, sans-serif;
	font-size:25px;
	border-bottom:1px solid #ddd;
	
}
.form_wrapper form{
	display:none;
	background:#fff;
}
.form_wrapper .column{
	width:47%;
	float:left;
}
form.active{
	display:block;
}
form.login{
	width:350px;
}
form.register{
	width:550px;
}
form.forgot_password{
	width:300px;
}
.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}
.form_wrapper label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-family: 'Economica', Arial, sans-serif;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"]{
	border: solid 1px #E5E5E5;
	background: #FFFFFF;
	margin: 5px 30px 0px 30px;
	padding: 9px;
	display:block;
	font-size:16px;
	width:76%;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus{
	background:#feffef;
}
.form_wrapper .bottom{
	background-color:#444;
	border-top:1px solid #ddd;
	margin-top:20px;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper .bottom a{
	display:block;
	clear:both;
	padding:10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
	float:right;
	font-style:italic;
	line-height:24px;
	color:#ffa800;
	text-shadow:1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover{
	color:#000;
}
.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
	visibility:hidden;
	color:red;
	font-size:11px;
	font-style:italic;
	display:block;
	margin:4px 30px;
}
.form_wrapper input[type="submit"] {
	background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	margin:15px 20px 10px 10px;
	text-shadow: 0px 1px 0px #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}
.form_wrapper input[type="submit"]:hover {
	background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

form input[type=text],
form select,
form input[type=password],
form input[type=email],
form textarea,
.txtField,
.cjComboBox
{
   border:6px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:2px 2px;
    width:200px;
    display:block;
	color: #000;
	font: 14px Century Gothic;
}
	
.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #ffffff url(../js/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		border:1px solid;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
	#thumb1 img {
					width:200px;
					height:140px;
	
					}
	#thumb2 img {
					width:150px;
					height:100px;
					padding:10px 10px;
					border: 1px solid #ddd;
					border-radius:2px 2px;
					}
	
	#thumb_video  {
					width:360px;
					height:230px;	
			
				}
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	small {padding:5px 0px; font-size: 0.9em; color:red;}
	small2 {padding:5px 5px; font-size: 0.9em; color:white; background:#00A0E3;}
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	/*
	
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/ div#pop-up {
        display: none;
        position: absolute;
        width: 280px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 1px solid #1a1a1a;
        font-size: 90%;
      }
	.big-link { display:block; margin-top: 10px; text-align: center; font-size: 70px; color: #06f; }

#result { background-color: #F0FFED; border: 1px solid #a5ec51; padding: 10px; width: 400px; margin-bottom: 20px; }
	
	label.error 	{ 
								text-transform:lowercase;
								background: #e5f5f9 center;
								width: 150px;
								font-size: 0.75em;
								border: 1px solid #cae0e5;
								color: #5a9bab;
							}
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, 
h5, h6, pre,  label, fieldset, input, p, blockquote,  td {
	margin: 0;
	padding: 0;
		font: 14px Century Gothic;
		
	
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {	border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

caption, th { text-align: center; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

q:before, q:after { content: ''; }

strong { font-weight: bold; }

em { font-style: italic; }

a img {	border: none; } /* Gets rid of IE's blue borders */

a { text-decoration: none; }

body { font-size: 1em; /* Prevents an IE bug where em's scale out of proportion */ }





/* ---------- CLEARFIX ---------- */
/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { zoom: 1; }





/* ---------- GENERAL ---------- */
.round {
	border-radius: 0.3125em; /* 5/16 */
	-moz-border-radius: 0.3125em; /* 5/16 */
	-webkit-border-radius: 0.3125em; /* 5/16 */
}

p {
	margin-bottom: 1.25em; /* 20/16 */
	color: #9498a1;
}

.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

.half-size-column {
	width: 48%;
}

div.stripe-separator {
	background: transparent url('../../images/separator-bg.png') repeat-x left center;
	height: 0.562em; /* 9/16 */
	display: block;
	margin: 1.25em 0; /* 20/16 */
}

h1, h2, h3, h4, h5, h6 { margin-bottom: 0.525em; /* 10/16 */ }

/*Temporary styles*/
ul.temporary-button-showcase {
	list-style-type: none;
}

	ul.temporary-button-showcase li {
		width: 24%;
		float: left;
		margin-bottom: 1em;
	}

code {
	display: inline-block;
	background-color: #f8f9fa;
	border: 1px solid #eeefef;
	padding: 0.416em 0.833em; /* 5/12 10/12 */
	color: #2a2e36;
}

blockquote {
	display: block;
	font-style: italic;
	border-left: 2px solid #eeefef;
	padding-left: 0.833em; /* 10/12 */
	color: #9498a1;
}

cite {
	font-style: italic;
	font-weight: bold;
	display: block;
	padding-left: 0.833em; /* 10/12 */
	margin-top: 0.833em; /* 10/12 */
	color: #9498a1;
}


#input_judul {
width: 400px; font-size: 14px; font-weight: bold; font-family: Droid Sans, Helvetica, Arial, sans-serif;
}
#input {
width: 700px; font-size: 12px; font-weight: bold; font-family: Droid Sans, Helvetica, Arial, sans-serif;
}
#input-drop {
width: 200px; font-size: 12px; font-weight: bold; font-family: Droid Sans, Helvetica, Arial, sans-serif;
}


/* ---------- TYPOGRAPHY ---------- */
form {
	border:0px solid;
	
	line-height: 1.125em; /* 18/16 */
}

p, .button, form input, ul#nav li ul, ul#tabs, div.side-menu ul li a, table,
.information-box, .confirmation-box, .error-box, .warning-box, ol, .regular-ul, 
.custom-ul, blockquote, cite { font-size: 0.75em; /* 12/16 */ }

div.content-module-heading span { font-size: 0.625em; /* 10/16 */ }








/* ---------- WIDTHS ---------- */
/* Form Inputs Style */
.default-width-input { width: 20.833em; /* Default Value. Equals 250px for the 12px font size */ }	


/* Textarea Style */
#ta3 {
			width:200px;

			}

/* Page Container Style */
.page-full-width {  	width: 1300px; height: auto; margin-top: 20px; min-height:800px; margin-right: auto;
		margin-left: auto; background: linear-gradient(to bottom, rgb(78, 78, 78) 0%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% ;}

.page-limited {
	width: 60em; /* 960/16 */
	margin: 0 auto;
}

/* ---------- BUTTONS ---------- */


.dark {
	background-color: #3f4551;
	color: white;
}
	.dark:hover {
		background-color: #5d6677;
		color: white;
	}

.text-upper { text-transform: uppercase; }

.small-button { padding: 0.312em 1em; /* 5/16 16/16 */ }

.image-left {
	background-position: 0.833em center; /* 10/12 */
	padding-left: 3em; /* 36/12 */
}

.image-right {
	background-position: right center;
	padding-right: 3em; /* 36/12 */
}






/* ---------- MENU BUTTONS ---------- */
.menu-email { background-image: url("../../images/icons/menu/menu-email.png"); }
	.menu-email:hover { background-image: url("../images/icons/menu/menu-email-over.png"); }
	.menu-email-special {
		background-image: url("../../images/icons/menu/menu-email-special.png");
		color: #7fcdff;
	}
	
.menu-settings { background-image: url("../../images/icons/menu/menu-settings.png"); }
	.menu-settings:hover { background-image: url("../images/icons/menu/menu-settings-over.png"); }

.menu-logoff { background-image: url("../../images/icons/menu/menu-logoff.png"); }
	.menu-logoff:hover { background-image: url("../../images/icons/menu/menu-logoff-over.png"); }

.menu-user { background-image: url("../../images/icons/menu/menu-user.png"); }





/* ---------- FORMS ---------- */
form label {
	font: 14px Century Gothic;
	font-weight: bold;
	
}
label {
	font: 14px Century Gothic;
	font-weight: bold;
	
}

form label2 {
	font: 18px Century Gothic;
	padding:40px 0px;
	font-weight: bold;
}


form label.alt-label { text-transform: none; }

form select
	{
	
	padding: 2px 2px;
	width: 200px;
	border: 1px solid #d9dbdd;
	outline: none;
	}
form option {
			padding: 3px 5px;
			}
form input[type="text"],textarea {
	border: 1px solid #d9dbdd;
	 /* 16/16 10/16 */
	 padding: 6px 6px;
	 margin-top: 3px;
	outline: none;
	font: 14px Century Gothic;
}
	
	



form input[type="password"] {
	border: none;
	cursor: pointer;
	padding: 0.33em; /* 10/12 */
	background-position: right center;
	/*padding-right: 3em; /* 36/12 */
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #bbbdbe;
	padding-bottom:10px;
	
}


form input[type="button"] {
			text-transform:uppercase;
				display: inline-block;
		  *display: inline;
		  padding: 4px 12px;
		  margin-bottom: 0;
		  *margin-left: .3em;
		  font-size: 12px;
		  line-height: 18px;
		  color: #333333;
		  text-align: center;
		  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		  vertical-align: middle;
		  cursor: pointer;
		  background-color: #f5f5f5;
		  *background-color: #e6e6e6;
		  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		  background-repeat: repeat-x;
		  border: 1px solid #cccccc;
		  *border: 0;
		  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		  border-bottom-color: #b3b3b3;
		  -webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
				  border-radius: 4px;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		  *zoom: 1;
		  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
				  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

form#search-form input {
	border: none;
	/* The inner text overflows on the BG image, so we're setting a right padding to stop that */
	padding-right: 3em; /* 36/12 */
}
	form#search-form input:focus {
		/* Same as .dark:hover */
		background-color: #5d6677;
		color: white;
	}

form p em {
	margin-top: 0.833em; /* 10/12 */
	display: block;
}

form p.form-error, form p.form-error label { color: #cf4425; }

form p.form-error em {
	background: transparent url('../../images/icons/message-boxes/error.png') no-repeat left center;
	padding-left: 2em; /* 24/12 */
}

form input.error-input { border: 1px solid #ff876f; }
	form input.error-input:hover { border: 1px solid #b03e27; }

/* Styling the HTML5 placeholders */
/* So far they don't work in: IE, Opera 10 and below, Firefox 3.6 and below */
::-webkit-input-placeholder { color: #858d9c; }
:-moz-placeholder { color: #858d9c; }





/* ---------- CONTENT BOXES ---------- */
.information-box, .confirmation-box, .error-box, .warning-box {
	padding: 0.833em 0.833em 0.833em 3em; /* 10/12 36/12 */
	margin-bottom: 0.833em; /* 20/12 */
}

.information-box {
	background: #e5f5f9 url('../../images/icons/message-boxes/information.png') no-repeat 0.833em center;
	border: 1px solid #cae0e5;
	color: #5a9bab;
}

.confirmation-box {
	background: #e7fae6 url('../../images/icons/message-boxes/confirmation.png') no-repeat 0.833em center;
	border: 1px solid #b7cbb6;
	color: #52964f;
}

.error-box {
	background: #fde8e4 url('../../images/icons/message-boxes/error.png') no-repeat 0.833em center;
	border: 1px solid #e6bbb3;
	color: #cf4425;
}

.warning-box {
	background: #fdf7e4 url('../../images/icons/message-boxes/warning.png') no-repeat 0.833em center;
	border: 1px solid #e5d9b2;
	color: #b28a0b;
}





/* ---------- MENU ---------- */
ul#nav {
	list-style-type: none;
	
}

	ul#nav > li {
		float: left;
		margin-right: 0.312em; /* 5/16 */
		position: relative;
	}
		ul#nav li:first-child { margin-left: 0; }
		ul#nav li:hover ul { left: 0; /* On hover, we make the submenu visible again */ }	
		/* Persistent hover state, exactly the same style as the inner anchor on hover (.dark:hover) */
		ul#nav li:hover a {
			background-color: #5d6677;
			color: white;
		}
		
	ul#nav li.v-sep {
		border-right: 1px solid #3f4551;
		margin-right: 0.625em; /* 10/16 */
		padding-right: 0.625em; /* 10/16 */
	}
	
	ul#nav li ul {
		list-style-type: none;
		position: absolute;
		z-index: 999;
		margin-top: -2px;
		left: -9999px;
	}
		ul#nav li ul li a {
			color: white;
			padding: 0.833em 0 0.833em 3em;
			border-top: 1px solid #6a7282;
			background: #5d6677 url('../../images/menu-indicator.png') no-repeat right center;
			display: block;
			width: 100%;
			white-space: nowrap;
			
		}
			ul#nav li ul li:last-child a {
				border-bottom-right-radius: 0.3125em; /* 5/16 */
				border-bottom-left-radius: 0.3125em; /* 5/16 */
				-moz-border-bottom-right-radius: 0.3125em; /* 5/16 */
				-moz-border-bottom-left-radius: 0.3125em; /* 5/16 */
				-webkit-border-bottom-right-radius: 0.3125em; /* 5/16 */
				-webkit-border-bottom-left-radius: 0.3125em; /* 5/16 */
			}

			ul#nav li ul li a:hover { background-color: #7a8497; }
			




/* ---------- TOP + HEADER ---------- */
.header			{ background: url('../images/header.jpg') bottom left repeat-x; margin-bottom: 30px; }



/* ---------- TABS ---------- */
ul#tabs { list-style-type: none; }

	ul#tabs li { float: left; }
	
		ul#tabs li a {
			border: 1px solid #eeefef;
			border-bottom: none;
			padding: 1.666em 0.833em; /* 20/12 10/12 */
			margin: 0 0.416em -1px 0;
			display: block;
			color: #9498a1;
		}
			ul#tabs li a:hover { color: #2a2e36; }

ul#tabs li a.dashboard-tab {
	background: transparent url('../../images/tab-dashboard.png') no-repeat 0.833em center /* 10/12 */;
	padding-left: 3em; /* 36/12 */	
}

ul#tabs li a.active-tab, ul#tabs li a.active-tab:hover {
	background-color: #f8f9fa;
	font-weight: bold;
	color: #2a2e36;
}

.blink {
	color:red;
	font-size: 17px;
	font-weight:bold;
    /*-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
	

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
#tabel_customer{
			border: 1px solid #ddd;
			width: 500px;
			border-collapse: collapse;
			box-shadow:rgba(0,0,0,0.5) 0 0 2px;
			
			}
#tabel_customer th{ font-size: 15px; padding: 6px 6px;}
#tabel_customer td{
			text-align:left;
			padding: 7px 7px;
			background: white;
			font-weight:bold;
			}


/* ---------- TABLES ---------- */
table { width: 100%; margin-bottom: 1.25em; /* 20/16 */ }

	table th {
		background-color: #5d6677;
		color: white;
		text-transform: uppercase;
		padding: 0.25em 0 0.25em 1.25em; /* 15/12 */
		border-left: 1px solid #747c8a;
	}
		
	table tbody td {
		padding-left: 20px; /* 10/12 15/12 */
		border-left: 0px solid white;
		border: 1px solid #ddd;
		padding-top: 1px;
		font-size:13px;
		
	}
	
	/* Alternate table row */
	table tbody tr:nth-child(odd) { background-color: #ffffff; }

	
	#table1 td:first-child, #table1 th:first-child {
		width: 4em ;
		padding: 5px 5px ;
		text-align:center;
		
	}
	
	#table1 td:last-child, #table1 th:last-child {
		width: 7em; 
		padding: 0;
	}
	
	#table1 td.table-footer {
		text-align: left;
		vertical-align: middle;
		padding-top: 1.25em ;
		border: none;
	}
	
a.table-actions-button {
	width: 1.90em;
	height: 1.85em;
	display: inline-block;
	background-position: center center;
}





/* ---------- LISTS ---------- */
ol li, .regular-ul li { margin-left: 1.25em; /* 20/16 */ }

ol, .regular-ul, .custom-ul { margin-bottom: 1.25em; /* 20/16 */ }

.custom-ul { list-style-type: none; }

	.custom-ul li {
		background: transparent url('../../images/menu-dark-indicator.png') no-repeat left center;
		padding-left: 1.25em /* 10/12 */;
	}

  

/* ---------- CONTENT ---------- */

form#login-form {
	width: 18.75em; /* 300/16 */
	margin: 0 auto;
}

div#req_notif{
			display: block-inline;
			position:absolute;
			right:10px;
			color:white;
			margin-top:8px;
			border:2px solid #ddd;
			background:red;
			border-radius: 100%;
			padding: 0px 5px;
			font-size: 9px;
			font-weight: bold;
			  -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
	

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
			}
div#appr_notif{
			display: block-inline;
			position:absolute;
			right:10px;
			color:white;
			margin-top:8px;
			border:2px solid #ddd;
			background:blue;
			border-radius: 100%;
			padding: 0px 5px;
			font-size: 9px;
			font-weight: bold;
			}
			
div.side-menu {
	color: rgb(255, 255, 255);
	background: linear-gradient(to bottom, rgb(78, 78, 78) 0%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% ;
	border-bottom: 1px solid rgb(41, 41, 41);
	height: 60px;
	width: 18%;
	position:relative;
	padding:0px 5px 600px 0px;
	margin-bottom: 3em; /* 16/16 */
	height:100%;
		
}
#stripe-separator {
	background: url('line.gif') bottom left repeat-x; margin-bottom: 30px;
}
#image_upload2{

box-shadow:none;
}
#image_upload{

box-shadow:none;
}
#form_berita {
		
		padding: 50px 30px;
		
		}
h2 {
text-transform: uppercase;
		font: 24px Century Gothic;
		font-weight: bold;
}


div.stripe-separator {
	background: transparent url('../../images/separator-bg.png') repeat-x left center;
	height: 0.562em; /* 9/16 */
	display: block;
	margin: 1.25em 0; /* 20/16 */
}

	div.side-menu h3 {
		text-align:center;
		text-transform: uppercase;
		font-weight: bold;
		margin:  1.25em; /* 15/12 */
		color: white;
		background: none;
		font: 18px Century Gothic;
	}
	
	div.side-menu ul { list-style-type: none; }
	
		div.side-menu ul li a {
		  padding: 10px 10px; /* 10/12 15/12 */
		  border-top: 1px solid #ddd;
		  border-right: 1px solid #ddd;
		  border-bottom: 1px solid #ddd;
		  display: block;
		  background: white no-repeat right center;
		  font-size: 12px;
		  line-height: 18px;
		  color: #333333;
		  text-align: left;
		  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		  vertical-align: middle;
		  cursor: pointer;
		  background-color: #f5f5f5;
		  *background-color: #e6e6e6;
		  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		  background-repeat: repeat-x;
		  
		}
			div.side-menu ul li a:hover {
				background-color: #ddd;
			}
		div.side-menu li ul {
							display:none;
							position:absolute;
							z-index:999;
						}
		div.side-menu li:hover ul{
				display:block;
				margin-top: -40px;
				margin-left: 220px;
				background:red;
				height:auto; 
				width:12em;
			}

		
		div.side-menu li.active a, .div.side-menu  li.active a:hover {
			-webkit-box-shadow: inset 0px 2px 5px 0px #bfbfbf;
			box-shadow: inset 0px 2px 5px 0px #bfbfbf;
			background: #e5e5e5;
			background: -moz-linear-gradient(top, #e5e5e5 0%, #f5f5f5 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f5f5f5));
			background: -webkit-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
			background: -o-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
			background: -ms-linear-gradient(top, #e5e5e5 0%,#f5f5f5 100%);
			background: linear-gradient(to bottom, #e5e5e5 0%,#f5f5f5 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f5f5',GradientType=0 );
		}
#head{
		color: rgb(255, 255, 255);
		background: repeat-no;
		border-bottom: 1px solid rgb(41, 41, 41);
		height: 80px;
		padding:20px 20px;
		position:relative;
		margin-right: auto;
		margin-left: auto;
		}
			

div.side-content { 
			padding: 10px 10px;
			margin-left: 0px;
			border: 1px solid #cccccc;
			background: #ffffff;	
			min-height: 650px;
			width: 1020px;
			height: auto;
			float:top;
			}

div.content-module {
	background: white;
	margin-bottom: 1em; /* 16/16 */
	border: 1px solid #eeefef;
}

div.content-module-heading {
	background: #3f4551;
	cursor: pointer;
}

	div.content-module-heading h3 {
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		margin: 1.25em; /* 15/12 */
	}
	
	div.content-module-heading span { 
		color: #969dac;
		text-transform: uppercase;
		margin: 1.5em; /* 15/10 */
	}

div.content-module-main { padding: 1em; /*z-index:-2; 16/16 */ }




.record {
		 border:1px solid #ddd;
		 border-radius:3px 3px;
		 top:0px;
		 padding: 15px 15px;
		 background:#ffffff;
		}

.record, .record img {
  position:relative;
  width:160px;
  height:150px;
  
}

.delete{
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  width:15px;
  height:15px;
  background:url('../images/close.png') no-repeat white;
   border-radius:4px 4px;
}

.record:hover .delete{
  display:block;
}
.delete:hover {
  background-image:url('../images/close.png')  no-repeat ;
}

input:disabled {
    border: 3px solid red;
}

/* Set the size and font of the tab widget */
.tab_content {
    font: 10pt arial, verdana;
    width: 100%;
    height: 100%;
	margin-bottom:30px;
	
}
 
/* Configure the radio buttons to hide off screen */
.tab_content > input[type="radio"] {
    position: absolute;
    left:-100px;
    top:-100px;
	
}
 
/* Configure labels to look like tabs */
.tab_content > input[type="radio"] + label {
    /* inline-block such that the label can be given dimensions */
    display: inline-block;
 
    /* A nice curved border around the tab */
    border: 1px solid #666666;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
     
    /* the bottom border is handled by the tab content div */
    border-bottom: 0;
 
    /* Padding around tab text */
    padding: 5px 10px;
 
    /* Set the background color to default gray (non-selected tab) */
    background-color:#ddd;
}
 
/* Focused tabs need to be highlighted as such */
.tab_content > input[type="radio"]:focus + label {
    border:1px solid #666666;
}
 
/* Checked tabs must be white with the bottom border removed */
.tab_content > input[type="radio"]:checked + label {
    background-color:white;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
 
/* The tab content must fill the widgets size and have a nice border */
.tab_content > div {
    display: none;
    border: 1px solid #666666;
    background: #f7f5e3;
    padding: 7px 10px;
    overflow: auto;
	z-index:-1;
    box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 20px #444;
    -webkit-box-shadow: 0 0 20px #444;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
}

 #form_album_photo{
					padding:20px 20px;
					height:auto;
					margin-top:-20px;
					}
/* This matchs tabs displaying to thier associated radio inputs */
.tab_child_content:checked ~ .tab_child_content {
    display: block;
}

/* Set the size and font of the tab widget */
.tab_content2 {
    font: 10pt arial, verdana;
    width: 100%;
    height: 100%;
	margin-bottom:30px;
	
}
 
/* Configure the radio buttons to hide off screen */
.tab_content2 > input[type="radio"] {
    position: absolute;
    left:-100px;
    top:-100px;
	
}
 
/* Configure labels to look like tabs */
.tab_content > input[type="radio"] + label {
    /* inline-block such that the label can be given dimensions */
    display: inline-block;
 
    /* A nice curved border around the tab */
    border: 1px solid #666666;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
     
    /* the bottom border is handled by the tab content div */
    border-bottom: 0;
 
    /* Padding around tab text */
    padding: 5px 10px;
 
    /* Set the background color to default gray (non-selected tab) */
    background-color:#ddd;
}
 
/* Focused tabs need to be highlighted as such */
.tab_content2 > input[type="radio"]:focus + label {
    border:1px solid #666666;
}
 
/* Checked tabs must be white with the bottom border removed */
.tab_content2 > input[type="radio"]:checked + label {
    background-color:white;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
 
/* The tab content must fill the widgets size and have a nice border */
.tab_content2 > div {
    display: none;
    border: 1px solid #666666;
    background: #f7f5e3;
    padding: 7px 10px;
    overflow: auto;
	z-index:-1;
    box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 20px #444;
    -webkit-box-shadow: 0 0 20px #444;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
}

/* This matchs tabs displaying to thier associated radio inputs */
..tab_child_content{

	height:auto;
}
.tab_child_content2:checked ~ .tab_child_content2 {
    display: block;
}	

/* ---------- FOOTER ---------- */
#footer {
	bottom: 0;
	border: 0px solid;
	text-align: center;
	height: 60px;
	position:relative;
}

